/* Montserrat Fonts of google fonts link up  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.flexable-area {
    display: flex;
    margin-bottom: 80px;


}

.header-title {
    font-size: 50px;
    font-weight: 700;
    color: #575757;
}

span {
    color: #FC8946;
}

.header-paragraph {
    font-weight: 500;
    font-size: 15px;
    color: #828282;
}

.half-width-1 {
    padding-left: 5%;
    width: 100%;
    /* align-items: center;
    justify-content: center; */
    margin-top: 100px;

}

.half-width-2 {
    padding-left: 5%;


}

.half-width-2 img {
    width: 550px;
}

.button-style {
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 40px;
    background-image: linear-gradient(#FD5332, #FB8F48);
    padding: 15px 40px;

}

.about-me-text {
    color: #707070;
}

.middle-section {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}

.middle-half-width {
    width: 80%;
    padding: 20px 90px;



}

.middle-half-width img {
    padding-left: 15%;
    width: 50%;
}

.middle-half-width {
    width: 80%;

}

.middle-half-width p {
    color: #18191F;

}

.another-m-s-p {
    font-size: 13px;
    color: #707070;
}

.another-middle-section {
    text-align: center;
}

.middle-flexable-area {
    display: flex;

}

.half-w {
    width: 70%;
    margin: 2%;
    padding: 20px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 30px;
    margin-bottom: 80px;
}

.half-w img {
    width: 100%;
}

.counting-section {
    display: flex;
    width: 92%;
    margin: 2%;
    padding: 20px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

}

.all-counting {
    padding: 0 40px;
}

.footer-design {
    background-color: black;
    padding: 30px;
    text-align: center;
}